[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]



[packages]

falcon = "*"
ipython = "*"
gunicorn = "*"
httpie = "*"
mypy = "*"


[requires]

python_version = "3"
