[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[packages]
falcon = "*"
ipython = "*"
gunicorn = "*"
httpie = "*"
mypy = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"

# This library handles user credentials. Do not update without reviewing first.
# Better to break everything than to leak user info.
fbchat = "==1.3.9"

[requires]
python_version = "3"
